# Don’t commit the following directories created by pub.
.buildlog
.pub/

# Or the files created by dart2js.
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock
.packages
.atom
